<footer id="cts" class="f">
    <div class="container">
       <div class="flex">
            <img src="./img/logo.svg" alt="" class="f_logo f_col">

            <div class="f_col f_middle">

                <div class="f_row">
                    <img src="./img/f1.svg" alt="" class="f_ico">
                    <div class="col">
                        ПН - ПТ: <br>С 09:00 - 18:00 
                    </div>
                    <div class="col">
                        СБ - ВС: <br>Выходные
                    </div>
                </div>

                <div class="f_row">
                    <img src="./img/f2.svg" alt="" class="f_ico">
                    <a href="tel:+77772696190">+7 777 269 61 90</a>
                </div>

                <div class="f_row">
                    <img src="./img/f3.svg" alt="" class="f_ico">
                    <a href="mailto:la_finance@mail.ru">La_finance@mail.ru</a>
                </div>

                <div class="soc_row">
                    <a href="https://www.instagram.com/l_a_finance" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://wa.me/77772696190" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                </div>

            </div>

            <div class="f_nav">
                <a href="#servs">Услуги</a>
                <a href="#price">Стоимость</a>
                <a href="#about">О компании</a>
                <a href="#cts">Контакты</a>
            </div>
       </div>

       <div class="copy">
           &copy; 2021. Все права защищены.
       </div>

    </div>
</footer>