<header class="header">
	<div class="container flex center spb">
		<svg class="ham hamRotate ham4 nav--btn" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
			<path
				  class="line top"
				  d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
			<path
				  class="line middle"
				  d="m 70,50 h -40" />
			<path
				  class="line bottom"
				  d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
		  </svg>

		<img src="./img/logo.svg" alt="" class="logo">
		<img src="./img/logo2.svg" alt="" class="logo logo2">
		<nav class="nav">
			<a href="#servs">Услуги</a>
			<a href="#price">Стоимость</a>
			<a href="#about">О компании</a>
			<a href="#cts">Контакты</a>
		</nav>

		<div class="header_rcol flex">
			<a href="tel:+77772696190" class="header_phone">
				<i class="fa fa-mobile icon" aria-hidden="true"></i>
				<span class="txt">+7 777 269 61 90</span>
			</a>

			<a href="https://instagram.com/l_a_finance" target="_blank" class="soc"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			<a href=" https://wa.me/87772696190" target="_blank" class="soc"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
		</div>

	</div>
</header>

<script data-b24-form="click/1/0slysy" data-skip-moving="true">
	(function(w,d,u){
			var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
			var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
	})(window,document,'https://cdn-ru.bitrix24.ru/b17136904/crm/form/loader_1.js');
</script>
<button class="call--btn">
	<img src="./img/msg.svg" alt="">
</button>